// PIPELINE CONFIGURATION =====================================================

// Pipeline Information ------------------------------------------------------- 

manifest {
    author      = 'Carl Beuchel'
    name        = 'nf-nmr-color'
    description = 'Pipeline for running metabolome-wide Colocalization analysis'
    homePage    = 'https://github.com/comp-med/nf-nmr-coloc'
}

// Default workflow parameters ------------------------------------------------

params {
    help    = false
    version = '0.1.1'
    outDir  = './output/'
    input   = false
    cpus    = 8
}

// Resume pipeline from last successful process
resume = true

// Input Parameters -----------------------------------------------------------
params {
    personal_r_library              = '</PATH/TO/R/LIB>'
    genome_build                    = 'GRCh37' // or GRCh38 (not implemented)
    coloc_cores                     = 1

    // Input from NMR GWAS fine-mapping results
    nmr_finemap_master_table = '</PATH/TO/unique_finemapped_regions.txt>'
    nmr_ld_directory            = '</PATH/TO/LD/MATRICES/DIRECTORY>'
    nmr_credible_sets_directory = '</PATH/TO/SCALLOP/FINEMAPPED/CIS/REGIONS>'

    // Input from the CVD phenotype data
    outcome_sumstat_directory   = '</PATH/TO/OUTCOME/SUMSTAT/DIRECTORY>'
    outcome_data_dictionary     = "</PATH/TO/OUTCOME/DATA/DICTIONARY>"

    // Per chromosome, named 'genetic_map_GRCh37_chr[1:22, "X"].txt'
    recombination_rate_map_dir      = "</PATH/TO/DIRECTORY/WITH/RECOMBINATION/MAPS>"
}

// Logging & Extras -----------------------------------------------------------

// Produce a workflow diagram  
// More info: https://www.nextflow.io/docs/latest/tracing.html#dag-visualisation
dag {
    enabled   = true
    overwrite = true
    file      = 'runInfo/dag.svg'
}

// Output resource and runtime reports for a workflow run
// More info: https://www.nextflow.io/docs/latest/tracing.html
report {
    enabled   = true
    overwrite = true
    file      = 'runInfo/report.html'
}

timeline {
    enabled   = true
    overwrite = true
    file      = 'runInfo/timeline.html'
}

trace {
    enabled   = true
    overwrite = true
    file      = 'runInfo/trace.txt'
}

// Profiles -------------------------------------------------------------------

// Enable various profiles depending on compute infrastructure to be run on
// More info: https://www.nextflow.io/docs/latest/config.html#config-profiles
profiles {
    cluster { includeConfig "config/cluster.config" }
    test { includeConfig "config/test.config"}
}


