// Configuration for HPC with SLURM

// Container Runtime Configuration --------------------------------------------

apptainer {
   enabled    = true
   temp       = '~/.apptainer'
}

params {
    // Add the path to the container image to run R from
    rApptainerPath = ''
    // Add bind directories in a comma-separated list
    apptainerBind  = ''
}

process {
     executor         = 'slurm'
     time             = 1.h
     memory           = 4.GB
     cpus             = "$params.cpus"
     containerOptions = "--bind $params.apptainerBind"
}

// Process Configuration ------------------------------------------------------

process {
   withName: RUN_COLOC {
        cpus          = "$params.coloc_cores"
        memory        = { 64.GB * task.attempt }
        time          = {12.h * task.attempt }
        errorStrategy = { task.attempt == 3 ? 'ignore' : 'retry' }
        maxRetries    = 2
    }
    withName: TOP_SNP_AND_PROXIES {
        cpus          = "$params.coloc_cores"
        memory        = { 32.GB * task.attempt }
        time          = { 1.h * task.attempt }
        errorStrategy = 'retry'
        maxRetries    = 3
    }
    withLabel: rProcess {
        container     = "file://$params.rApptainerPath"
        cpus          = "$params.cpus"
        memory        = { 32.GB * task.attempt }
        time          = { 1.h * task.attempt }
        errorStrategy = 'retry'
        maxRetries    = 3
    }
}
